/* card.component.scss */
.card {
    width: 150px;
    cursor: pointer;
  } 
  .img_card{
    width: 98%; 
    height: 98%;
    left: 0; right: 0;
    position: absolute;
    z-index: 1007;
    margin: auto;display: block;
    cursor: pointer;
  }
