.container-section {
    position: absolute;
    z-index: 10000;
  }
  
  .fixed2 {
   position: fixed;
   margin-left: 34%;
   margin-top: -5rem;
  }
  
  .inset-02 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .flex2 {
    display: flex;
  }
  
  .flex-nowrap2 {
    flex-wrap: nowrap;
  }
  
  .overflow-auto2 {
    overflow: auto;
  }
  
  .modal {
    width: 240px;
    height: 380px;
    background-color: var(--four-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0; right: 0;
    margin: auto; display: block;
    margin-left: 1rem;
    position: relative;
  }
  
  .logo-modal {
    position: relative;
    top: 2.5rem;
    height: 40px;
    margin: auto; 
    display: block;
  }
  
  h2 {
    font-size: 15pt;
    color: var(--white);
    text-align: center;
    font-family: 'cocogoose', sans-serif;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 1rem;
    line-height: 20px;
  }
  
  .center-buttons {
    display: flex; position: absolute;
    justify-content: space-around;
    width: 100%; bottom: 1rem;
  }
  
  button {
    background-color: var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    font-family: 'cocogoose', sans-serif;
    font-weight: normal;
    color: var(--white);
    font-size: 8pt;
  }
  .details-btn{ background-color: var(--secondary-color); }
  .edit-btn { background-color: var(--primary-color); }
  .remove-btn { background-color: var(--third-color); }
  
.createDeck{
    width: 100%; height: 100%; z-index: 1002; position: fixed; top: 0;
}

.control-card{
  display: flex;
  justify-content: space-between;
}

.container{ width: 100%; }

.left{ width: 400px; height: 200px; left: 0%; display: flex; position: fixed; top: 30%; }

.card {
    height: 200px;
    background-color: white;
    border: 1px solid #e2e8f0;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    img{ margin: auto; display: block; margin-top: 2rem; height: 34px; }
}
.card[card-generator="1"] {transform: rotate(30deg); width: 120px; height: 200px; z-index: 1001; margin: auto; display: block; right: 0; margin-right: 5rem; position: absolute; background-color: var(--four-color); top: 1rem; }
.card[card-generator="2"] {transform: rotate(0deg); width: 120px; height: 200px; z-index: 1005; margin: auto; display: block; background-color: var(--four-color); left: 0; right: 0; position: absolute; }
.card[card-generator="3"] {transform: rotate(-30deg); width: 120px; height: 200px; z-index: 1001; margin: auto; display: block; left: 0; margin-left: 5rem; position: absolute; background-color: var(--four-color); top: 1rem; }

.btn-add-card{
    margin: auto; display: block; position: absolute; z-index: 1006; left: 0; right: 0; bottom: -3rem; background-color:var(--primary-color); font-size: 10pt;
    width: 200px; height: 62px; border-radius: 30px; border: 2px solid #FFF; color: #FFF; font-family: 'cocogoose', sans-serif; font-weight: bold;
}

.card {
    width: 100%;
    max-width: 50%;
    height: 100%;
    max-height: 70vh;
    transform-style: preserve-3d;
    transform: rotateY(-10deg);
    transition: transform 0.3s ease-in-out;
}
  
.card:hover {
 transform: rotateY(0);
}

.center{
    width: 75%; height: 70%; overflow-y: auto; right: 0; position: absolute; z-index: 1000; top: 10%; margin: auto; display: block;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0px;
}
  
.card-item {
    width: 100%;
}
  
.overflow-y-auto {
    overflow-y: auto;
}

.deckList{
  background-color: var(--four-color);

}

.loader {
    margin: auto; display: block;
    margin-top: 0.5rem;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #f2f2f2;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    animation: spin 1s linear infinite;
}

.load{ position: absolute; z-index: 10000; margin: auto; display: block; left: 0; right: 0; top: 40%; width: 80px; height: 80px; border-radius: 20px; justify-content: center; align-items: center; }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
