<div class="bg-blue-500 p-4 rounded-lg shadow-lg">
  <!-- MODE CREATOR - modo de criacao de baralho -->
  <div *ngIf="loading" [ngClass]="{'loaded': loading}"class="loading-overlay">
    <div class="load">
      <div class="loader">
        <img src="../../../assets/img/Pokemon-Ball.png">
      </div>
    </div>
  </div>
  <div *ngIf="recused" class="cards-max-overlay" [ngClass]="{'active': recused}"></div>
  <ng-container *ngIf="deckCards">
    <div class="createDeck">
      <div class="container">
          <div class="left">
              <div class="card mr-4" card-generator="1">
                <img src="../../../assets/img/logo.png">
              </div>
              <div class="card" card-generator="2">
                <img src="../../../assets/img/logo.png">
              </div>
              <div class="card ml-4" card-generator="3">
                <img src="../../../assets/img/logo.png">
              </div>
              <div >
                <button igxRipple class="btn-add-card" (click)="addCard()">Adicionar carta</button>
              </div>
          </div>
          <div class="center">
            <div class="grid grid-cols-3 gap-4">
              <app-card *ngFor="let card of cards" [card]="card" class="card-item"></app-card>
            </div>
          </div>            
      </div>
    </div>
  </ng-container>
  <ng-container  *ngIf="!deckCards">
    <app-my-decks
      [MyDeck]="MyDeck" 
      (removeDeckClicked)="onRemoveDeckClicked()"
      (selectedDeck)="selectedDeck = $event" 
      (modeDeckCards)="modeDeckCards = $event" 
      (deckCards)="deckCards = $event"
      (cards)="cards = $event">
    </app-my-decks>
  </ng-container>
</div>
