<div class="actions-container">
    <button igxRipple class="button-action" (click)="action1()" btn-action="1">
        <igx-icon fontSet="material" size="large">
          <img class="icon-btn" src="../../../assets/icons/add.png">
        </igx-icon>
        <span class="tooltip-text">Criar baralho</span>
    </button>
    <button igxRipple class="button-action"  btn-action="2">
        <igx-icon fontSet="material" size="large">
         <img class="icon-btn" src="../../../assets/icons/pen.png">
        </igx-icon>
        <span class="tooltip-text">Editar baralho</span>
    </button>
    <button igxRipple class="button-action" (click)="action3()" btn-action="3">
        <igx-icon fontSet="material" size="large">
          <img class="icon-btn-cards" src="../../../assets/icons/trading.png">
        </igx-icon>
        <span class="tooltip-text">Meus baralhos</span>
    </button>
    <button igxRipple class="button-action"  btn-action="4">
        <igx-icon fontSet="material" size="large">
          <img class="icon-btn" src="../../../assets/icons/find.png">
        </igx-icon>
        <span class="tooltip-text">Visualizar detalhes</span>
    </button>
    <button igxRipple class="button-action" btn-action="5">
        <igx-icon fontSet="material" size="large">
          <img class="icon-btn" src="../../../assets/icons/cancel.png">
        </igx-icon>
        <span class="tooltip-text">Remover baralho</span>
    </button>
</div>